<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Email Input -->
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>

  <!-- Password Input -->
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <!-- Login Button -->
  <ion-button expand="block" class="ion-margin-top" (click)="login()">
    Login
  </ion-button>

  <!-- Optional: Signup Link -->
  <ion-text class="ion-text-center ion-margin-top">
    <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
  </ion-text>

</ion-content>

